In [1]:
import pandas as pd

import numpy as np

# The Pandas DataFrame

In [2]:
df = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]), 
    columns=['Col A', 'Col B', 'Col C']
)

In [3]:
# Its really just a table with a few fancy tricks
df

   Col A  Col B  Col C
0      1      2      3
1      4      5      6
2      7      8      9
3     10     11     12

## Importing Data

In [4]:
imported_data = pd.read_csv(r'datasets\NBA_Seasons_Stats.csv', index_col='Index')

In [5]:
#Get number of rows and columns in a dataset
imported_data.shape

(24691, 52)

In [6]:
#get bottom n rows of the dataframe
imported_data.tail(10)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TSP_,...,FTP_,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Index,,,,,,,,,,,,,,,,,,,,,
24681,2017.0,Delon Wright,PG,24.0,TOR,27.0,0.0,446.0,15.0,0.535,...,0.764,16.0,32.0,48.0,57.0,27.0,11.0,25.0,31.0,150.0
24682,2017.0,James Young,SG,21.0,BOS,29.0,0.0,220.0,10.0,0.549,...,0.667,6.0,20.0,26.0,4.0,10.0,2.0,4.0,15.0,68.0
24683,2017.0,Joe Young,PG,24.0,IND,33.0,0.0,135.0,11.4,0.433,...,0.733,1.0,16.0,17.0,15.0,4.0,0.0,5.0,5.0,68.0
24684,2017.0,Nick Young,SG,31.0,LAL,60.0,60.0,1556.0,14.1,0.588,...,0.856,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0
24685,2017.0,Thaddeus Young,PF,28.0,IND,74.0,74.0,2237.0,14.9,0.562,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
#View the columns and data types associated with each
imported_data.dtypes

Year      float64
Player     object
Pos        object
Age       float64
Tm         object
G         float64
GS        float64
MP        float64
PER       float64
TSP_      float64
_3PAr     float64
FTr       float64
ORBP_     float64
DRBP_     float64
TRBP_     float64
ASTP_     float64
STLP_     float64
BLKP_     float64
TOVP_     float64
USGP_     float64
blanl     float64
OWS       float64
DWS       float64
WS        float64
WS/48     float64
blank2    float64
OBPM      float64
DBPM      float64
BPM       float64
VORP      float64
FG        float64
FGA       float64
FGP_      float64
_3P       float64
_3PA      float64
_3PP_     float64
_2P       float64
_2PA      float64
_2PP_     float64
eFGP_     float64
FT        float64
FTA       float64
FTP_      float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

## Select a Single Column!

In [8]:
imported_data['Age']

Index
0        31.0
1        29.0
2        25.0
3        24.0
4        24.0
         ...
24686    24.0
24687    27.0
24688    20.0
24689    22.0
24690    19.0
Name: Age, Length: 24691, dtype: float64

In [9]:
imported_data['Age'].mean()

26.66440526486838

## Save space with categorical variables!

In [10]:
imported_data['Pos'].memory_usage()

395056

In [11]:
imported_data['Pos'] = imported_data['Pos'].astype('category')

In [16]:
imported_data

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TSP_,...,FTP_,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Index,,,,,,,,,,,,,,,,,,,,,
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [14]:
#head gets top of the list
imported_data.dtypes.head()

Year       float64
Player      object
Pos       category
Age        float64
Tm          object
dtype: object

In [15]:
imported_data['Pos'].memory_usage()

223043

## Filtering the Data!

In [25]:
#Get all players that played for the Los Angeles Lakers (LAL) in 2016
imported_data[(imported_data['Tm'] == 'LAL') & (imported_data['Year'] == 2010.0)]

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TSP_,...,FTP_,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Index,,,,,,,,,,,,,,,,,,,,,
20005,2010.0,Shannon Brown,SG,24.0,LAL,82.0,7.0,1700.0,12.4,0.517,...,0.818,30.0,153.0,183.0,108.0,57.0,31.0,67.0,129.0,667.0
20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,0.545,...,0.811,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0
20012,2010.0,Andrew Bynum,C,22.0,LAL,65.0,65.0,1977.0,20.2,0.608,...,0.739,177.0,364.0,541.0,68.0,35.0,94.0,115.0,193.0,977.0
20080,2010.0,Jordan Farmar,PG,23.0,LAL,82.0,0.0,1474.0,12.3,0.535,...,0.671,14.0,117.0,131.0,127.0,52.0,11.0,72.0,109.0,591.0
20087,2010.0,Derek Fisher,PG,35.0,LAL,82.0,82.0,2227.0,9.3,0.499,...,0.856,25.0,145.0,170.0,201.0,90.0,9.0,78.0,202.0,615.0
20099,2010.0,Pau Gasol,C,29.0,LAL,65.0,65.0,2403.0,22.9,0.593,...,0.790,243.0,491.0,734.0,218.0,37.0,113.0,143.0,152.0,1190.0
20188,2010.0,Didier Ilunga-Mbenga,C,29.0,LAL,49.0,2.0,355.0,11.6,0.471,...,0.474,32.0,55.0,87.0,8.0,5.0,29.0,15.0,54.0,105.0
20313,2010.0,Adam Morrison,SF,25.0,LAL,31.0,0.0,241.0,7.4,0.418,...,0.625,10.0,22.0,32.0,18.0,3.0,2.0,10.0,17.0,74.0
20335,2010.0,Lamar Odom,PF,30.0,LAL,82.0,38.0,2585.0,15.9,0.533,...,0.693,184.0,618.0,802.0,267.0,75.0,59.0,150.0,227.0,882.0
20356,2010.0,Josh Powell,PF,27.0,LAL,63.0,0.0,581.0,6.7,0.407,...,0.645,44.0,72.0,116.0,35.0,9.0,6.0,33.0,71.0,169.0
20457,2010.0,Sasha Vujacic,SG,25.0,LAL,67.0,1.0,575.0,11.4,0.518,...,0.848,25.0,54.0,79.0,41.0,20.0,4.0,17.0,67.0,185.0
20465,2010.0,Luke Walton,SF,29.0,LAL,29.0,0.0,272.0,9.7,0.402,...,0.500,12.0,26.0,38.0,40.0,10.0,1.0,12.0,19.0,69.0
20493,2010.0,Metta World,SF,30.0,LAL,77.0,77.0,2605.0,12.1,0.514,...,0.688,99.0,232.0,331.0,234.0,106.0,21.0,121.0,165.0,845.0

In [26]:
LAL_df = imported_data[(imported_data['Tm'] == 'LAL') & (imported_data['Year'] == 2010.0)]

## Calculations between Columns

In [27]:
#Determine number of Points Per Game (PPG) for LAL players in 2010 (PTS/G)
LAL_df['PPG'] = LAL_df['PTS'] / LAL_df['G']

<ipython-input-27-03c513bd3097>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LAL_df['PPG'] = LAL_df['PTS'] / LAL_df['G']

In [28]:
LAL_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TSP_,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PPG
Index,,,,,,,,,,,,,,,,,,,,,
20005,2010.0,Shannon Brown,SG,24.0,LAL,82.0,7.0,1700.0,12.4,0.517,...,30.0,153.0,183.0,108.0,57.0,31.0,67.0,129.0,667.0,8.134146
20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,0.545,...,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0,26.986301
20012,2010.0,Andrew Bynum,C,22.0,LAL,65.0,65.0,1977.0,20.2,0.608,...,177.0,364.0,541.0,68.0,35.0,94.0,115.0,193.0,977.0,15.030769
20080,2010.0,Jordan Farmar,PG,23.0,LAL,82.0,0.0,1474.0,12.3,0.535,...,14.0,117.0,131.0,127.0,52.0,11.0,72.0,109.0,591.0,7.207317
20087,2010.0,Derek Fisher,PG,35.0,LAL,82.0,82.0,2227.0,9.3,0.499,...,25.0,145.0,170.0,201.0,90.0,9.0,78.0,202.0,615.0,7.500000
20099,2010.0,Pau Gasol,C,29.0,LAL,65.0,65.0,2403.0,22.9,0.593,...,243.0,491.0,734.0,218.0,37.0,113.0,143.0,152.0,1190.0,18.307692
20188,2010.0,Didier Ilunga-Mbenga,C,29.0,LAL,49.0,2.0,355.0,11.6,0.471,...,32.0,55.0,87.0,8.0,5.0,29.0,15.0,54.0,105.0,2.142857
20313,2010.0,Adam Morrison,SF,25.0,LAL,31.0,0.0,241.0,7.4,0.418,...,10.0,22.0,32.0,18.0,3.0,2.0,10.0,17.0,74.0,2.387097
20335,2010.0,Lamar Odom,PF,30.0,LAL,82.0,38.0,2585.0,15.9,0.533,...,184.0,618.0,802.0,267.0,75.0,59.0,150.0,227.0,882.0,10.756098
20356,2010.0,Josh Powell,PF,27.0,LAL,63.0,0.0,581.0,6.7,0.407,...,44.0,72.0,116.0,35.0,9.0,6.0,33.0,71.0,169.0,2.682540
20457,2010.0,Sasha Vujacic,SG,25.0,LAL,67.0,1.0,575.0,11.4,0.518,...,25.0,54.0,79.0,41.0,20.0,4.0,17.0,67.0,185.0,2.761194
20465,2010.0,Luke Walton,SF,29.0,LAL,29.0,0.0,272.0,9.7,0.402,...,12.0,26.0,38.0,40.0,10.0,1.0,12.0,19.0,69.0,2.379310
20493,2010.0,Metta World,SF,30.0,LAL,77.0,77.0,2605.0,12.1,0.514,...,99.0,232.0,331.0,234.0,106.0,21.0,121.0,165.0,845.0,10.974026

## Applying Personalized Functions

In [32]:
# Transform full name into first initial plus last name
# i.e. Kobe Bryant -> K. Bryant

def first_initial_transform(player_full_name):
    name_tokenized = player_full_name.split(" ")
    return f"{name_tokenized[0][0]}. {name_tokenized[1]}"

In [33]:
LAL_df['Player'] = LAL_df['Player'].apply(first_initial_transform)

<ipython-input-33-46ed631b73f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LAL_df['Player'] = LAL_df['Player'].apply(first_initial_transform)

In [34]:
LAL_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TSP_,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PPG
Index,,,,,,,,,,,,,,,,,,,,,
20005,2010.0,S. Brown,SG,24.0,LAL,82.0,7.0,1700.0,12.4,0.517,...,30.0,153.0,183.0,108.0,57.0,31.0,67.0,129.0,667.0,8.134146
20006,2010.0,K. Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,0.545,...,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0,26.986301
20012,2010.0,A. Bynum,C,22.0,LAL,65.0,65.0,1977.0,20.2,0.608,...,177.0,364.0,541.0,68.0,35.0,94.0,115.0,193.0,977.0,15.030769
20080,2010.0,J. Farmar,PG,23.0,LAL,82.0,0.0,1474.0,12.3,0.535,...,14.0,117.0,131.0,127.0,52.0,11.0,72.0,109.0,591.0,7.207317
20087,2010.0,D. Fisher,PG,35.0,LAL,82.0,82.0,2227.0,9.3,0.499,...,25.0,145.0,170.0,201.0,90.0,9.0,78.0,202.0,615.0,7.500000
20099,2010.0,P. Gasol,C,29.0,LAL,65.0,65.0,2403.0,22.9,0.593,...,243.0,491.0,734.0,218.0,37.0,113.0,143.0,152.0,1190.0,18.307692
20188,2010.0,D. Ilunga-Mbenga,C,29.0,LAL,49.0,2.0,355.0,11.6,0.471,...,32.0,55.0,87.0,8.0,5.0,29.0,15.0,54.0,105.0,2.142857
20313,2010.0,A. Morrison,SF,25.0,LAL,31.0,0.0,241.0,7.4,0.418,...,10.0,22.0,32.0,18.0,3.0,2.0,10.0,17.0,74.0,2.387097
20335,2010.0,L. Odom,PF,30.0,LAL,82.0,38.0,2585.0,15.9,0.533,...,184.0,618.0,802.0,267.0,75.0,59.0,150.0,227.0,882.0,10.756098
20356,2010.0,J. Powell,PF,27.0,LAL,63.0,0.0,581.0,6.7,0.407,...,44.0,72.0,116.0,35.0,9.0,6.0,33.0,71.0,169.0,2.682540
20457,2010.0,S. Vujacic,SG,25.0,LAL,67.0,1.0,575.0,11.4,0.518,...,25.0,54.0,79.0,41.0,20.0,4.0,17.0,67.0,185.0,2.761194
20465,2010.0,L. Walton,SF,29.0,LAL,29.0,0.0,272.0,9.7,0.402,...,12.0,26.0,38.0,40.0,10.0,1.0,12.0,19.0,69.0,2.379310
20493,2010.0,M. World,SF,30.0,LAL,77.0,77.0,2605.0,12.1,0.514,...,99.0,232.0,331.0,234.0,106.0,21.0,121.0,165.0,845.0,10.974026